<h1>Contactanos</h1>
<%= link_to 'Home', root_path %>
<div class="container" align="center">

    <iframe src="https://www.google.com/maps/d/embed?mid=zXa623ib0RnQ.km9X80bAAuFE" width="640" height="480"></iframe>
    <div align="center">
      <h3>Telefono: 70192452</h3>
      <h3>Email: pablingonzales@gmail.com</h3>
    </div>
</div>
