<div class="center jumbotron">
  <h1>DEPORTES 3600</h1>
  <%= link_to "Unete!","#",class: "btn btn-primary btn-xlarge" %>
</div>
<div class="panel panel-default">
  <div class="panel-body center">
    <h1 class= "letra grande">Bienvenido</h1>
    <p class= "bienvenido">Bienvenido a Deportes 3600, este es un espacio para ti y todos los deportistas de altura! en esta pagina podras encontrar articulos sobre todo tipo de deportes sobretodo los practicados en la ciudad de La Paz, informacion nutritiva, lugares para entrenar y divertirte, estas invitado a ser parte de esta comunidad</p>
  </div>
</div>
