<div class="center jumbotron">
  <h1>DEPORTES 3600</h1>
  <%= link_to "Unete!", signup_path, class: "btn btn-primary btn-xlarge" %>
</div>
<div class="panel panel-default">
  <div class="panel-body center">
    <h1 class= "letra">Bienvenido</h1>
    <h3 class= "bienvenido">Bienvenido a Deportes 3600, este es un espacio para ti y todos los deportistas de altura! en esta pagina podras encontrar articulos sobre todo tipo de deportes sobretodo los practicados en la ciudad de La Paz, informacion nutritiva, lugares para entrenar y divertirte, estas invitado a ser parte de esta comunidad</h3>
  </div>
</div>
<div class="panel panel-default row" id= "info1">
  <div  class="panel-body center col-md-6 info2">
    <p>Aqui podras encontrar diferentes consejos de entrenamiento para cada disciplina, desde futbol hasta natacion, tambien encontraras rutinas de gimnasio para que puedas ponerte en forma y todo a solo un clock de distancia </p>
  </div>
  <div class="panel-body center col-md-6">
    <button type="button" class="btn btn-default btn-lg centro arriba">
      <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Articulos
    </button>
  </div>
</div>
<div class="panel panel-default row" id= "info12">
  <div  class="panel-body center col-md-6 info2">
    <p>Tambien puedes conocer a los que ya forman parte de esta comunidad! ellos aportan a la pagina con articulos y videos, entra a conocerlos!</p>
  </div>
  <div class="panel-body center col-md-6">
    <button type="button" class="btn btn-default btn-lg center arriba">
      <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Usuarios
    </button>
  </div>
</div>
