$navbar-default-bg: rgb(40, 140, 86);
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
}
#logo:hover{
  text-decoration: none;
}
.navitem{
  color: rgb(255, 255, 255);
}
.center{
  text-align: center;
}
body { padding-top: 70px; }

.jumbotron{
  background-image: asset-url('atleta.jpg');
  background-size: cover;
  height: 550px;
}
.jumbotron h1{

  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.btn-xlarge{
  background: none;
  border-color: black;
  border-width: 1px;
  color: #0f1624;
  font-weight: bold;
  font-size: 1.5em;
}
.btn-xlarge:hover{
  transform: scale(1.1);
  background: none;
  border-color: black;
  border-width: 1px;
  color: #0f1624;
  font-weight: bold;
  font-size: 1.5em;
}
.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description{
  margin-top: 0;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.listing{
  list-style: none;
  padding-left: 0;
}
footer {
  background: #252424;
  color: white;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  }
  footer .footer-stuff {
    max-width: 750px;
    margin: 0 auto; }
  footer a {
    color: white; }
  footer input {
    color: #666; }
  footer strong{
    color: #3ee430 ;
  }
.minombre{
  font-size: 2.5em;
  color: #1fcdfb;
  text-align: center;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


.con-pie{
  margin-bottom: 230px;
  background-color: white;
}
.letra{
	font-family: 'Slackey', cursive;
}
.grande{
	font-size: 7em;
}
p.bienvenido{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
}
